@using FA.JustBlog.Core.Models;
@model Tags;

<h1>Tag Detail</h1>

<dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.Description</dd>

    <dt class="col-sm-3">Url Slug</dt>
    <dd class="col-sm-9">@Model.UrlSlug</dd>

    <dt class="col-sm-3">Count</dt>
    <dd class="col-sm-9">@Model.Count</dd>
</dl>