@using FA.JustBlog.Core.Models;
@model Comment;

<h1>Comment Detail</h1>

<dl class="row">
    <dt class="col-sm-3">Title</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Header</dt>
    <dd class="col-sm-9">@Model.CommentHeader</dd>

    <dt class="col-sm-3">Text</dt>
    <dd class="col-sm-9">@Model.CommentText</dd>
</dl>