<div class="card">
    <div class="card-content">
        <div>
            <img src="/assets/img/about-bg.jpg" alt="Your Image">
        </div>
        <div class="card-detail">
            <h2>About Me!</h2>
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and a interest in life.</p>
        </div>
    </div>
</div>