@using FA.JustBlog.Core.Models;
@model IEnumerable<Categories>;
@using FA.JustBlog.CustomHelper;

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/Home/Index">Just Blog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Home/Index">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Admin">Admin</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Posts/Index">Post</a></li>
                @foreach (var category in Model)
                {
                    <li class="nav-item">@Html.CategoryLink(category.Name, category.UrlSlug)</li>
                }
            </ul>
        </div>
    </div>
</nav>